In [425]:
import numpy as np
import pandas as pd

from scipy import stats
from sklearn.feature_selection import SelectKBest, chi2

In [426]:
df = pd.read_csv("Iris.csv")
df.head

<bound method NDFrame.head of      sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]>

In [427]:
#if sepal length is =>5 the value is 0
bins= [0,5,100]

In [428]:
labels=[0,1]

In [429]:
df['sepal.length']=pd.cut(df['sepal.length'],bins,labels=labels)

In [430]:
df

    sepal.length  sepal.width  petal.length  petal.width    variety
0              1          3.5           1.4          0.2     Setosa
1              0          3.0           1.4          0.2     Setosa
2              0          3.2           1.3          0.2     Setosa
3              0          3.1           1.5          0.2     Setosa
4              0          3.6           1.4          0.2     Setosa
..           ...          ...           ...          ...        ...
145            1          3.0           5.2          2.3  Virginica
146            1          2.5           5.0          1.9  Virginica
147            1          3.0           5.2          2.0  Virginica
148            1          3.4           5.4          2.3  Virginica
149            1          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [431]:
bins2= [0,3,60]
df['sepal.width']=pd.cut(df['sepal.width'],bins2,labels=labels)

In [432]:
bins3= [0,3,60]
df['petal.length']=pd.cut(df['petal.length'],bins3,labels=labels)

In [433]:
bins4= [0,1.5,60]
df['petal.width']=pd.cut(df['petal.width'],bins4,labels=labels)

In [434]:
df

    sepal.length sepal.width petal.length petal.width    variety
0              1           1            0           0     Setosa
1              0           0            0           0     Setosa
2              0           1            0           0     Setosa
3              0           1            0           0     Setosa
4              0           1            0           0     Setosa
..           ...         ...          ...         ...        ...
145            1           0            1           1  Virginica
146            1           0            1           1  Virginica
147            1           0            1           1  Virginica
148            1           1            1           1  Virginica
149            1           0            1           1  Virginica

[150 rows x 5 columns]

In [435]:
sepallength_variety_crosstab=pd.crosstab(df['sepal.length'],df['variety'],
                                        margins=True)
sepallength_variety_crosstab

variety       Setosa  Versicolor  Virginica  All
sepal.length
0                 28           3          1   32
1                 22          47         49  118
All               50          50         50  150

In [436]:
sepalwidth_variety_crosstab=pd.crosstab(df['sepal.width'],df['variety'],
                                        margins=True)
sepalwidth_variety_crosstab

variety      Setosa  Versicolor  Virginica  All
sepal.width
0                 8          42         33   83
1                42           8         17   67
All              50          50         50  150

In [437]:
petallength_variety_crosstab=pd.crosstab(df['petal.length'],df['variety'],
                                        margins=True)
petallength_variety_crosstab

variety       Setosa  Versicolor  Virginica  All
petal.length
0                 50           1          0   51
1                  0          49         50   99
All               50          50         50  150

In [438]:
petalwidth_variety_crosstab=pd.crosstab(df['petal.width'],df['variety'],
                                        margins=True)
petalwidth_variety_crosstab

variety      Setosa  Versicolor  Virginica  All
petal.width
0                50          45          3   98
1                 0           5         47   52
All              50          50         50  150

In [439]:
def check_categorical_dependency(crosstab_table, confidence_interval):
    stat, p, dof, expected = stats.chi2_contingency(crosstab_table)
    print ("Chi-Square Statistic value = {}".format(stat))
    print ("P - Value = {}".format(p))
    alpha = 1.0 - confidence_interval
    if p <= alpha:
        print('Dependent (reject)')
    else:
            print('Independent (fail to reject)')
    return expected

In [440]:
exp_table_1 = check_categorical_dependency(sepallength_variety_crosstab, 0.95)

Chi-Square Statistic value = 53.9459745762712
P - Value = 7.56454522508816e-10
Dependent (reject)

In [441]:
exp_table_2 = check_categorical_dependency(sepalwidth_variety_crosstab, 0.95)

Chi-Square Statistic value = 50.22477971587844
P - Value = 4.237672268539008e-09
Dependent (reject)

In [442]:
exp_table_3 = check_categorical_dependency(petallength_variety_crosstab, 0.95)

Chi-Square Statistic value = 145.63279857397504
P - Value = 6.480298512226304e-29
Dependent (reject)

In [443]:
exp_table_4 = check_categorical_dependency(petalwidth_variety_crosstab, 0.95)

Chi-Square Statistic value = 117.68053375196233
P - Value = 5.001210049303254e-23
Dependent (reject)

In [444]:
pd.DataFrame(exp_table_4)

           0          1          2      3
0  32.666667  32.666667  32.666667   98.0
1  17.333333  17.333333  17.333333   52.0
2  50.000000  50.000000  50.000000  150.0

<h1>Feature Selection using Chi-Square<h1>

In [445]:
X = df[["sepal.length", "sepal.width", "petal.length", "petal.width"]]

In [446]:
Y = df[["variety"]]

In [447]:
X_new = SelectKBest(chi2, k=1).fit_transform(X, y)

In [448]:
X_new.shape

(150, 1)

In [449]:
newgraph= pd.crosstab(np.squeeze(X_new), np.squeeze(Y))
newgraph

variety  Setosa  Versicolor  Virginica
row_0
0            50          45          3
1             0           5         47